{
    "presets": ["next/babel"],
    "plugins": [
        ["styled-components", { "ssr": true }],
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-export-namespace-from"
    ]
}
